.center.hero-unit
  h1 Sample App

  h2 This is the home page for the Ruby on Rails tutorial sample application.

  = link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"
= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org'
