= provide(:title, 'About')
h1 About us
p
  | The Ruby on Rails Tutorial is a project to make a book and screencasts to teach web development with Ruby on Rails. This sis the sampel application for the tutorial.
