= provide(:title, "Sign in")
h1
  | Sign in

.row
  .span6.offset3
    = form_tag sessions_path do
      = label_tag :email
      = text_field_tag :email, params[:email]

      = label_tag :password
      = password_field_tag :password, params[:password]

      = submit_tag "Sign in", class: "btn btn-large btn-primary"

    p
      | New user?
      = link_to "Sign up now!", signup_path
