= provide(:title, 'Edit user')
h1 Update your profile

.row
  .span6.offset3
    = form_for(@user) do |f|
      = render 'fields', f: f
      = f.submit "Save changes", class: "btn btn-large btn-primary"

    = gravatar_for @user
    a href="http://gravatar.com/emails" target="_blank" change
