a href="user_path(current_user)"
  = gravatar_for current_user, size: 52

h1 = current_user.name
span = link_to "view my profile", current_user
span = pluralize(current_user.microposts.count, "micropost")