footer.footer
  small
    = link_to 'Rails Tutorial', 'http://railstutorial.jp/'
    |  by Michael Hartl
  nav
    ul
      li = link_to "About", about_path
      li = link_to "Contact", contact_path
      li = link_to 'News', 'http://news.railstutorial.jp'