header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to "sample app", root_path, id: "logo"
      nav
        ul.nav.pull-right
          li = link_to "Home", root_path
          li = link_to "Help", help_path
          - if signed_in?
            li = link_to "Users", users_path
            li#fat-menu.dropdown
              a.dropdown-toggle[href="#" data-toggle="dropdown"]
                | Account <b class="caret"></b>
              ul.dropdown-menu
                li = link_to "Profile", current_user
                li = link_to "Settings", edit_user_path(current_user)
                li.divider
                li = link_to "Sign out", signout_path, method: "delete"
          - else
            li = link_to "Sign in", signin_path
