doctype html
html lang="ja"
	head
		title = full_title(yield(:title))
		meta charset="utf-8"
		= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags
	body
    	= render 'layouts/header'
    	.container
        - flash.each do |key, value|
          = content_tag(:div, value, class: "alert alert-#{ key }")
        = yield
        = render 'layouts/footer'
        - if Rails.env.development?
          | #{debug(params)}
					| #{debug(request.cookie_jar)}
